

<main>
  <section class="page-title">
    <h1>すべてのスポット</h1>
    <p>宮古島在住者が「スキンダイビングならここ！」と通い続ける、人気のスポットをご紹介</p>
  </section>

  <section class="index-card">
    <div class="container">
      <div class="row">
        <% @spots.each do |spot| %>
          <div class="col-lg-4 col-md-6 p-md-3">
            <div class="card border-0 rounded-0">
              <%= link_to root_path do %>
                <%= image_tag spot.image.url, class: 'card-img-top rounded-0' %>
              <% end %>
              <div class="card-body">
                <h4>
                  <%= link_to spot.name, root_path, {class: 'card-link'} %>
                  <%# <%= link_to spot.area, root_path, {class: "card-link card-area"} %>
                </h4>
                <p class="card-text">
                  <%= spot.description %>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
</main>

<footer>
  <a href="#">Where to swim?<span class="footer-two">in Miyako</span></a>
  <a href="#" class="footer-three">Copyright  @ayalikesweb  All Right</a>
</footer>
