<div class="show-index">
  <section class="page-title">
    <h1><%= @search_word %></h1>
    <p>宮古島在住者が「スキンダイビングならここ！」と通い続ける、人気のスポットをご紹介</p>
  </section>

  <section class="index-card">
    <div class="container">

<%
=begin
%>
      <%= search_form_for @q do |f| %>
        <%# <%= f.label :name_cont, "スポット名" %>
        <%# <%= f.search_field :name_cont %>
        <%= f.label :area_id, "エリア" %>
        <%= f.collection_select :area_id_eq, Area.all, :id, :name, :include_blank => '指定なし' %>
        <%= f.submit "検索", class: 'p-2'%>
      <% end %>
<%
=end
%>

      <div class="row">
        <%= render partial: 'spot', collection: @spots %>
      </div>
    </div>
  </section>
</div>
