<section class="map">
  <div class="title">
    <h1><%= @spot.name %></h1>
  </div>

  <div class="col-md-5 mx-auto">
    <ul class="nav nav-justified spot-nav">
      <li class="nav-item">
        <%= link_to "特徴", spot_path(@spot) %>
      </li>
      <li class="nav-item">
        <%= link_to "口コミ", spot_comments_path(@spot) %>
      </li>
      <li class="nav-item">
        <%= link_to "マップ", spot_map_path(@spot), 'data-turbolinks': false, class: 'nav-active' %><hr>
      </li>
    </ul>
  </div>

  <div class="tab-content">
    <div class="container col-md-8 mx-auto">
      <div class="row">
        <div class="col-md-8 order-md-2 p-0">
          <% if @spot.latitude.nil? || @spot.longitude.nil? %>
            <div class="pl-3">
              <%= 'マップが登録されていません' %>
            </div>
          <% else %>
            <div id='map'></div>
          <% end %>

          <style>
          #map {
            height: 400px;
            width: 400px;
            margin: 0 auto;
          }
          </style>

          <script>
          let map

          function initMap(){
            geocoder = new google.maps.Geocoder()
            var test ={ lat: <%= @spot.latitude %>, lng: <%= @spot.longitude %> };
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 13,
              center: test
            });

            var transitLayer = new google.maps.TransitLayer();
            transitLayer.setMap(map);

            var contentString = "住所：<%= @spot.address %>";
            var infowindow = new google.maps.InfoWindow({
              content: contentString
            });

            var marker = new google.maps.Marker({
              position:test,
              map: map,
              title: contentString
            });

            marker.addListener('click', function() {
              infowindow.open(map, marker);
            });
          }
          </script>
          <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY']%>&callback=initMap" async defer></script>

        </div>

        <%= render 'show_img' %>

      </div>
    </div>
  </div>
</section>
