<p class="page-title">スポットを追加する</p>
<%= form_with model: @spot, local: true do |f| %>
  <div class="container">
    <form action="＃" method="get" class="row">
      <div class=".col-md-2 .col-md-offset-5">
        <div class="form-group">
          <p>スポット名<%= f.text_field :name, class: "form-control" %></p>
        </div>
        <div class="form-group">
          <p>説明<%= f.text_area :description, class: "form-control" %></p>
        </div>
        <div class="form-group">
          <p>郵便番号<%= f.text_field :postal_code, class: "form-control" %></p>
        </div>
        <div class="form-group">
          <p>住所<%= f.text_field :address, class: "form-control" %></p>
        </div>
        <div class="form-group">
          <p>写真<%= f.file_field :image, accept: "image/png,image/jpeg,image/gif", class: "form-control-file" %></p>
        </div>

<%
=begin
%>

        <div class="form-group">
          <p>エリア<%= f.text_field :area, class: "form-control" %></p>
        </div>
<%
=end
%>
        <%= f.submit "送信", class: "btn btn-info" %>
      </div>
    </form>
  </div>
<% end %>
