<section class="spot-show">
<%= render 'spot_title' %>
  <div class="col-md-5 mx-auto">
    <ul class="nav nav-justified spot-nav">
      <li class="nav-item">
        <%= link_to "特徴", spot_path(@spot), class: 'nav-active' %><hr>
      </li>
      <li class="nav-item">
        <%= link_to "口コミ", spot_comments_path(@spot) %>
      </li>
      <li class="nav-item">
        <%= link_to "マップ", spot_map_path(@spot), 'data-turbolinks': false %>
      </li>
    </ul>
  </div>

  <div class="tab-content">
    <div class="container col-md-8 mx-auto">
      <div class="row">
        <div class="col-md-8 order-md-2">
          <p class="show-text">
            <%= safe_join(@spot.description.split("\n"), tag(:br)) %>
          </p>
            <section class="row tag">
              <div class="col-12 mt-4">
                <ul>
                  <li>
                    <span>会える生き物</span>
                    <% @spot.get_creatures.each do |creature| %>
                      <%= link_to creature.name, spots_path(@q, 'q[creatures_id_eq]': creature.id) %>
                    <% end %>
                  </li>
                </ul>
              </div>
              <div class="col-12">
                <ul>
                  <li>
                    <span>その他の特徴</span>
                    <% @spot.get_features.each do |feature| %>
                      <%= link_to feature.name, spots_path(@q, 'q[features_id_eq]': feature.id), class: 'feature' %>
                    <% end %>
                  </li>
                </ul>
              </div>
            </section>

            <% if user_signed_in? && current_user.admin? %>
              <p class="show-btn">
                <button type="button" class="btn btn-outline-info mr-2">
                  <%=link_to "編集", edit_spot_path(@spot.id), class: 'text-info' %>
                </button>
                <button type="button" class="btn btn-outline-danger">
                  <%=link_to "削除", spot_path(@spot.id), method: :delete, class: 'text-danger', data: { confirm: "本当に削除しますか？" } %>
                </button>
              </p>
            <% end %>
        </div>

        <%= render 'show_img' %>

      </div>
    </div>

  </div>
</section>
