<section class="spot-show">
  <%= render partial: "spots_show_top", locals: { spot: @spot } %>

  <div class="tab-content">
    <div class="container col-md-8 mx-auto">
      <div class="row">
        <div class="col-md-8 order-md-2">
          <%= safe_join(@spot.description.split("\n"), tag(:br)) %>

            <section class="row tag">
              <ul class="mt-4 mb-0">
                <div class="col-lg">
                  <li>
                    <span>会える生き物</span>
                    <% @spot.get_creatures.each do |creature| %>
                      <%= link_to creature.name, spots_path(@q, 'q[creatures_id_eq]': creature.id) %>
                    <% end %>
                  </li>
                </div>
              </ul>
              <ul>
                <div class="col-lg">
                  <li>
                    <span>その他の特徴</span>
                    <% @spot.get_features.each do |feature| %>
                      <%= link_to feature.name, spots_path(@q, 'q[features_id_eq]': feature.id), class: 'feature' %>
                    <% end %>
                  </li>
                </div>
              </ul>
            </section>
            <%= render 'histories/history' %>
            <%= render 'clips/clip' %>

            <% if user_signed_in? && current_user.admin? %>
              <p class="show-btn">
                <button type="button" class="btn btn-outline-info mr-2">
                  <%=link_to "編集", edit_spot_path(@spot.id), class: 'text-info' %>
                </button>
                <button type="button" class="btn btn-outline-danger">
                  <%=link_to "削除", spot_path(@spot.id), method: :delete, class: 'text-danger', data: { confirm: "本当に削除しますか？" } %>
                </button>
              </p>
            <% end %>
        </div>

        <div class="col-md-4 order-md-1">
          <%= image_tag @spot.image.url, class: 'img-fluid rounded', alt: 'Responsive image' %>
        </div>
      </div>
    </div>

<%
=begin
%>
    <div id="tab2" class="tab-pane">
      <div class="container col-md-8 mx-auto">
        <div class="row">
          <div class="col-md-8 order-md-2">
            <p>口コミ</p>
          </div>
          <div class="col-md-4 order-md-1">
            <%= image_tag @spot.image.url, class: 'img-fluid rounded', alt: 'Responsive image' %>
          </div>
        </div>
      </div>
    </div>

    <div id="tab3" class="tab-pane">
      <div class="container col-md-8 mx-auto">
        <div class="row">
          <div class="col-md-8 order-md-2">
            <p>マップ</p>
          </div>
          <div class="col-md-4 order-md-1">
            <%= image_tag @spot.image.url, class: 'img-fluid rounded', alt: 'Responsive image' %>
          </div>
        </div>
      </div>
    </div>
<%
=end
%>
  </div>
</section>
