<div class="spot-comment">
  <div class="title">
    <h1><%= @spot.name %><%= render 'spots/twitter_share' %><%= render 'spots/weather_api' %></h1>
  </div>

  <div class="col-md-5 mx-auto">
    <ul class="nav nav-justified spot-nav">
      <li class="nav-item">
        <%= link_to "特徴", spot_path(@spot) %>
      </li>
      <li class="nav-item">
        <%= link_to "口コミ", spot_comments_path(@spot), class: 'nav-active' %><hr>
      </li>
      <li class="nav-item">
        <%= link_to "マップ", spot_map_path(@spot), 'data-turbolinks': false %>
      </li>
    </ul>
  </div>

  <div class="tab-content">
    <p class="flash"><%= flash[:alert] %></p>
    <div class="container col-md-8 mx-auto">
      <div class="row">
        <div class="col-md-8 order-md-2 parent">
          <div class="child">
            <%=link_to "口コミを書く", new_spot_comment_path(@spot), class: 'text-info' %>
          </div>
          <% if @comments.present? %>
            <% @comments.each do |comment| %>
              <div class="comment-items">
                <% if comment.user.image? %>
                  <%= image_tag comment.user.image.url, class: 'rounded-circle user-pic' %>
                <% else %>
                  <%= image_tag 'default.png', class: 'rounded-circle user-pic' %>
                <% end %>
                <div class="comment-item">
                  <li><%= l comment.visit_date %></li>
                  <li><%= l comment.visit_time %></li>
                  <li><%= comment.weather.name %></li>
                  <li><%= comment.tide.name %></li>
                  <li><%= comment.wind.name %></li><br>
                  <li class="comment-content comment-index">
                    <%= link_to comment.user.name, user_path(comment.user), class: 'user-name' %>
                    <%= comment.content %>
                    <% if user_signed_in? && current_user.id == comment.user_id %>
                      <span class="comment-btn">
                        <%=link_to "編集", edit_spot_comment_path(comment.spot.id, comment.id), class: 'edit' %>
                        <%=link_to "削除", spot_comment_path(comment.spot.id, comment.id), method: :delete, data: {confirm: "削除しますか？"}, class: 'delete' %>
                      </span>
                    <% elsif user_signed_in? && current_user.admin? %>
                      <span class="comment-btn">
                        <%=link_to "削除", spot_comment_path(comment.spot.id, comment.id), method: :delete, data: {confirm: "削除しますか？"}, class: 'delete' %>
                      </span>
                    <% end %>
                  </li>
                </div>
              </div>
              <hr>
            <% end %>
          <% else %>
            <p>コメントはまだありません</p>
          <% end %>
        </div>

        <%= render 'spots/show_img' %>

      </div>
    </div>
  </div>
</div>
