<div class="spot-comment">
  <%= render partial: 'spots/spots_show_top', locals: { spot: @spot } %>

  <div class="tab-content">
    <p class="flash"><%= flash[:alert] %></p>
    <div class="container col-md-8 mx-auto">
      <div class="row">
        <div class="col-md-8 order-md-2 parent">
          <div class="child">
            <%=link_to "口コミを書く", new_spot_comment_path(@spot), class: 'text-info' %>
          </div>
          <% if @comments.present? %>
            <% @comments.each do |comment| %>
              <ul>
                <%= image_tag comment.user.image.url, width: '6%', height: '6%', class: 'rounded-circle user-pic' %>
                <li class="user-name" ><%= comment.user.name %></li>
                <li><%= l comment.visit_date %></li>
                <li><%= l comment.visit_time %></li>
                <li><%= comment.weather.name %></li>
                <li><%= comment.tide.name %></li>
                <li><%= comment.wind.name %></li><br>
                <li class="comment-content">
                  <%= comment.content %>
                  <% if user_signed_in? && current_user.id == comment.user_id %>
                    <span class="comment-btn">
                      <%=link_to "編集", edit_spot_comment_path(comment.spot.id, comment.id), class: 'edit' %>
                      <%=link_to "削除", spot_comment_path(comment.spot.id, comment.id), method: :delete, data: {confirm: "削除しますか？"}, class: 'delete' %>
                    </span>
                  <% end %>
                </li>
              </ul>
              <hr>

            <% end %>

          <% else %>
            <p>コメントはまだありません</p>
          <% end %>
        </div>
        <div class="col-md-4 order-md-1">
          <%= image_tag @spot.image.url, class: 'img-fluid rounded', alt: 'Responsive image' %>
        </div>
      </div>
    </div>
  </div>
</div>
