<div class="mypage">
  <%= notice %>
  <%= alert %>
  <section class="profile">
    <div class="to-login-page">
      <% if user_signed_in? && current_user.admin? && ( @user.admin == true || @user.email == 'guest@example.com') %>
        <p>管理者アカウントおよびゲストユーザーの削除はできません</p>
      <% elsif user_signed_in? && current_user.admin? %>
        <%= link_to "削除", user_path(@user), method: :delete, data: {confirm: "削除しますか？"} %>
      <% elsif !user_signed_in? %>
        <%= link_to "ログインしてマイページ機能を使う", new_user_session_path %>
      <% elsif @user.id != current_user.id %>
        <%= link_to "マイページへ", user_path(current_user.id) %>
      <% end %>
    </div>

    <div class="conatainer">
      <div class="row">
        <div class="col-4">
          <% if @user.image? %>
            <%= image_tag @user.image.url, class: 'pic' %>
          <% else %>
            <%= image_tag 'default.png', class: 'pic' %>
          <% end %>
          <% if @user.sns.blank? %>
            <p class="ig">INSTAGRAM 未登録</p>
          <% else %>
            <p class="ig">IG <%= link_to @user.sns, "https://www.instagram.com/#{@user.sns}/", target: '_blank' %></p>
          <% end %>
        </div>
        <div class="col-8">
          <div class="name">
            <span class="myname"><%= @user.name %></span>
            <span class="m">PB</span>
            <span class="pb">
              <% if @user.sns.blank? %>
                <span> ? </span>
              <% else %>
                <%= @user.pb %>
              <% end %>
            </span>
            <span class="m">m</span>
          </div>
          <div class="introduction">
            <% if @user.sns.blank? %>
              <p>自己紹介文がまだありません</p>
            <% else %>
              <%= @user.introduction %>
            <% end %>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="tabs">
    <div class="tab-wrap">
      <input id="TAB-01" type="radio" name="TAB" class="tab-switch" checked="checked" /><label class="tab-label" for="TAB-01">口コミ<p><%= @user.comments.count %></p></label>
      <div class="tab-content">
        <% if @user.comments.present? %>
          <% @user.comments.order(visit_date: :desc).each do |comment| %>
            <%= render partial: "comments/allcomments", locals: { comment: comment } %>
          <% end %>
        <% else %>
          <p class='mt-5'>まだ口コミを書いてないよ💬</p>
        <% end %>
      </div>
      <input id="TAB-02" type="radio" name="TAB" class="tab-switch" /><label class="tab-label" for="TAB-02">行ったスポット<p><%= @history_list.count %></p></label>
      <div class="tab-content">
        <% if @history_list.present? %>
          <section class="index-card">
            <div class="container">
              <div class="row">
                <%= render partial: 'spots/spot', collection: @history_list %>
              </div>
            </div>
          </section>
        <% else %>
          <p class='mt-5'>行ったスポットはまだありません</p>
        <% end %>
      </div>
      <input id="TAB-03" type="radio" name="TAB" class="tab-switch" /><label class="tab-label" for="TAB-03">行きたいスポット<p><%= @clip_list.count %></p></label>
      <div class="tab-content">
        <% if @clip_list.present? %>
          <section class="index-card">
            <div class="container">
              <div class="row">
                <%= render partial: 'spots/spot', collection: @clip_list %>
              </div>
            </div>
          </section>
        <% else %>
          <p class='mt-5'>行きたいスポットはまだありません</p>
        <% end %>
      </div>
    </div>
  </section>
</div>
