<div class="mypage">

  <section class="profile">
    <div class="conatainer">
      <div class="row">
        <div class="col-4">
          <%= image_tag @user.image.url, class: 'pic', alt: 'Responsive image' %>
          <% if @user.sns.blank? %>
            <p class="ig">INSTAGRAM ζη™»ι²</p>
          <% else %>
            <p class="ig">IG <%= link_to @user.sns, 'https://www.instagram.com/#{@user.sns}/', target: '_blank' %></p>
          <% end %>
        </div>
        <div class="col-8">
          <div class="name">
            <span class="myname"><%= @user.name %></span>
            <span class="m">PB</span>
            <span class="pb">
              <% if @user.sns.blank? %>
                <span> ? </span>
              <% else %>
                <%= @user.pb %>
              <% end %>
            </span>
            <span class="m">m</span>
          </div>
          <div class="introduction">
            <% if @user.sns.blank? %>
              <p>θ‡ε·±η΄Ήδ»‹ζ–‡γγΎγ γ‚γ‚γΎγ›γ‚“</p>
            <% else %>
              <%= @user.introduction %>
            <% end %>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="tabs">
    <div class="tab-wrap">
      <input id="TAB-01" type="radio" name="TAB" class="tab-switch" checked="checked" /><label class="tab-label" for="TAB-01">ε£γ‚³γƒ<p><%= @user.comments.count %></p></label>
      <div class="tab-content">
        <% if @user.comments.present? %>
          <% @user.comments.order(visit_date: :desc).each do |comment| %>
            <ul>
              <div class="container">
                <div class="row">
                  <div class="col-md-4 p-0">
                    <li><%= l comment.visit_date %></li>
                    <li><%= l comment.visit_time %></li>
                    <li><%= link_to comment.spot.name, spot_path(comment.spot), class: 'spot-name' %></li>
                    <li><%= link_to comment.spot.area.name, spots_path(@q, 'q[area_id_eq]': comment.spot.area.id), class: 'area-name'  %></li>
                  </div>
                  <div class="col-md-8 css-fukidashi">
                    <li class="comment-content"><%= comment.content %></li>
                    <li class="fukidashi"><%= comment.content %></li>
                  </div>
                </div>
              </div>
            </ul>
          <% end %>
        <% else %>
          <p class='mt-5'>γΎγ ε£γ‚³γƒγ‚’ζ›Έγ„γ¦γγ„γ‚π’¬</p>
        <% end %>
      </div>
      <input id="TAB-02" type="radio" name="TAB" class="tab-switch" /><label class="tab-label" for="TAB-02">θ΅γ£γγ‚Ήγƒγƒƒγƒ<p><%= @history_list.count %></p></label>
      <div class="tab-content">
        <% if @history_list.present? %>
          <section class="index-card">
            <div class="container">
              <div class="row">
                <%= render partial: 'spots/spot', collection: @history_list %>
              </div>
            </div>
          </section>
        <% else %>
          <p class='mt-5'>θ΅γ£γγ‚Ήγƒγƒƒγƒγ―γΎγ γ‚γ‚γΎγ›γ‚“</p>
        <% end %>
      </div>
      <input id="TAB-03" type="radio" name="TAB" class="tab-switch" /><label class="tab-label" for="TAB-03">θ΅γγγ„γ‚Ήγƒγƒƒγƒ<p><%= @clip_list.count %></p></label>
      <div class="tab-content">
        <% if @clip_list.present? %>
          <section class="index-card">
            <div class="container">
              <div class="row">
                <%= render partial: 'spots/spot', collection: @clip_list %>
              </div>
            </div>
          </section>
        <% else %>
          <p class='mt-5'>θ΅γγγ„γ‚Ήγƒγƒƒγƒγ―γΎγ γ‚γ‚γΎγ›γ‚“</p>
        <% end %>
      </div>
    </div>
  </section>
</div>
