<div class="mypage">
  <h1 class="title">マイページ</h1>

  <section class="profile">
    <div class="conatainer">
      <div class="row">
        <div class="col-4">
          <%= image_tag @user.image.url, class: 'pic', alt: 'Responsive image' %>
          <% if @user.sns.blank? %>
            <p class="ig">INSTAGRAM 未登録</p>
          <% else %>
            <p class="ig">IG <%= link_to @user.sns, 'https://www.instagram.com/#{@user.sns}/', target: '_blank' %></p>
          <% end %>
        </div>
        <div class="col-8">
          <div class="name">
            <span class="myname"><%= @user.name %></span>
            <span class="m">PB</span>
            <span class="pb">
              <% if @user.sns.blank? %>
                <span> ? </span>
              <% else %>
                <%= @user.pb %>
              <% end %>
            </span>
            <span class="m">m</span>
          </div>

          <div class="introduction">
            <% if @user.sns.blank? %>
              <p>自己紹介文がまだありません</p>
            <% else %>
              <%= @user.introduction %>
            <% end %>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="tab">
    <div class="col-md-7 mx-auto">
      <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
          <a href="#tab1" class="nav-link active" data-toggle="tab">口コミ</a>
        </li>
        <li class="nav-item">
          <a href="#tab2" class="nav-link" data-toggle="tab">行ったスポット</a>
        </li>
        <li class="nav-item">
          <a href="#tab3" class="nav-link" data-toggle="tab">行きたいスポット</a>
        </li>
      </ul>
    </div>

    <div class="tab-content">
      <div id="tab1" class="tab-pane active">
        <% if @user.comments.present? %>
          <% @user.comments.order(visit_date: :desc).each do |comment| %>
            <ul>
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <li><%= l comment.visit_date %></li>
                    <li><%= l comment.visit_time %></li>
                    <li><%= link_to comment.spot.name, spot_path(comment.spot), class: 'spot-name' %></li>
                    <li><%= link_to comment.spot.area.name, spots_path(@q, 'q[area_id_eq]': comment.spot.area.id), class: 'area-name'  %></li>
                  </div>
                  <div class="col-md-8 css-fukidashi">
                    <li class="comment-content"><%= comment.content %></li>
                    <li class="fukidashi"><%= comment.content %></li>
                  </div>
                </div>
              </div>
            </ul>
          <% end %>
        <% else %>
          <p>まだ口コミを書いてないよ💬</p>
        <% end %>
      </div>

      <div id="tab2" class="tab-pane">
        <% if @history_list.present? %>
          <section class="index-card">
            <div class="container">
              <div class="row">
                <%= render partial: 'spots/spot', collection: @history_list %>
              </div>
            </div>
          </section>
        <% else %>
          <p>行ったスポットはまだありません</p>
        <% end %>
      </div>

      <div id="tab3" class="tab-pane">
        <% if @clip_list.present? %>
          <section class="index-card">
            <div class="container">
              <div class="row">
                <%= render partial: 'spots/spot', collection: @clip_list %>
              </div>
            </div>
          </section>
        <% else %>
          <p>行きたいスポットはまだありません</p>
        <% end %>
      </div>

    </div>
  </section>
</div>
