<header>
  <nav class="navbar fixed-top navbar-expand-lg" style="background-color: #08080859;">
    <%= link_to "Top", root_path, class: 'navbar-brand'%>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-around" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <%= link_to "スポット一覧", spots_path, class: 'nav-link'%>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">今日のおすすめ</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            エリアで探す
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <% @areas.each do |area| %>
              <%= link_to area.name, spots_path(@q, 'q[area_id_eq]': area.id), class: 'dropdown-item' %>
            <% end %>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            条件で探す
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <% @creatures.each do |creature| %>
              <%= link_to creature.name, spots_path(@q, 'q[creatures_id_eq]': creature.id), class: 'dropdown-item' %>
            <% end %>
            <% @features.each do |feature| %>
              <%= link_to feature.name, spots_path(@q, 'q[features_id_eq]': feature.id), class: 'dropdown-item' %>
            <% end %>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">サインイン</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
