<div id="history-<%= @spot.id %>">
  <% if user_signed_in? && !History.exists?(user: current_user, spot_id: @spot.id) %>
    <%= link_to spot_histories_path(@spot), method: :post, class: "histories-btn histories-spot", remote: true, 'data-turbolinks':false do %>
      <span class="histories-spot">行った！</span>
      <%= @spot.histories.length %>
    <% end %>
  <% elsif user_signed_in? && History.exists?(user: current_user, spot_id: @spot.id)%>
    <%= link_to spot_histories_path(@spot), method: :delete, class: "histories-btn histories-delete", remote: true, 'data-turbolinks':false do %>
      <span class="histories-delete">行ったリストから外す</span>
      <%= @spot.histories.length %>
    <% end %>
  <% else %>
    <%= link_to new_user_session_path, class: "histories-btn histories-spot" do %>
      <span class="histories-spot">行った！</span>
      <%= @spot.histories.length %>
    <% end %>
  <% end %>
</div>
