<div id="history-<%= @spot.id %>">
  <% if !History.exists?(user: current_user, spot_id: @spot.id)%>
    <%= link_to spot_histories_path(@spot), method: :post, class: "histories-btn histories-spot", remote: true, 'data-turbolinks':false do %>
    <span>行ったよ</span>
      <%= @spot.histories.length %>
    <% end %>
  <% else %>
    <%= link_to spot_histories_path(@spot), method: :delete, class: "histories-btn histories-delete", remote: true, 'data-turbolinks':false do %>
    <span>行ったよ</span>
      <%= @spot.histories.length %>
    <% end %>
  <% end %>
</div>
