<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Miyako</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


    <!-- font読み込み -->
    <script>
      (function(d) {
        var config = {
          kitId: 'rbf4ewc',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>
  </head>

  <body>
  <header>
    <nav class="navbar fixed-top navbar-expand-lg" style="background-color: #08080859;">
      <a class="navbar-brand" href="#">Top</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-around" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">スポット一覧</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">今日のおすすめ</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              エリアで探す
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">宮古島</a>
              <a class="dropdown-item" href="#">伊良部島</a>
              <a class="dropdown-item" href="#">下地島</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              条件で探す
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">ウミガメ</a>
              <a class="dropdown-item" href="#">マンタ</a>
              <a class="dropdown-item" href="#">洞窟</a>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">サインイン</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

    <%= yield %>

  <footer>
    <a href="#">Where to swim?<span class="footer-two">in Miyako</span></a>
    <a href="#" class="footer-three">Copyright  @ayalikesweb  All Right</a>
  </footer>
  </body>
</html>
